.lemmaoverview__grid{
  width: 900px;
}

.lemmaoverview__table{
  width: 100%;
  padding-top: 1em;
}

.lemmaoverview__table td{
  padding: 1em 1.5em;
}

.lemmaoverview__table thead td{
  font-weight: 600;
  padding: 1em 1em;
}

.lemmaoverview__lemmaentry:nth-of-type(odd) {
  background-color: #eee;
}

.lemmaoverview__lemmaentry > a{
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.lemmaoverview__lemmaentry{
  transition: transform 0.2s ease;
}

.lemmaoverview__lemmaentry:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
}