
.lemmadetail{
  min-height: 100%;
}

.lemmadetail__inner{
  position: relative;
}

.lemmadetail--loading, .lemmadetail--noexists{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lemmadetail__edit{
  margin: 0;
  position: absolute;
  right: 0;
  top: 0.5em;
  border: 1px solid #9f9f9f;
  padding: 0.5em 1em;
  font-weight: 300;
  cursor: pointer;
  border-radius: 4px;
}

.lemmadetail__edit:hover{
  background-color: #9f9f9f;
  color: #ccc;
}