.header__wrapper{
  position: fixed;
  width: 100%;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 30px;
  z-index: 1;
}

.header{
  height: 60px;
}

.header__left, .header__right, .header__middle{
  vertical-align: top;
  display: inline-block;
  height: 100%;
}

.header__middle{
  display: inline-block;
  margin: 0 auto;
}

.headernav{
  height: 100%;
  margin-left: 5em;
}

.header__btn:hover .headernav__sublist{
  display: block;
}

.headernav__sublist{
  position: absolute;
  top: 60px;
  display: none;
  background-color: white;
}

.headernav__subitem{
  padding: 0.5em 3em 0.5em 1em;
  width: 200px;
}

.headernav__subitem:hover{
  background-color: #4a4949;
  color: #ccc;
}

.header__right{
  height: 100%;
  float: right;
  margin-right: 0.5em;
}

.header__right .header__btn{
  padding-left: 2em;
}

.header__btn, .header__label{
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 0.5em;
  position: relative;
}

.header__btn{
  cursor: pointer;
}

