.header__wrapper{
  position: fixed;
  z-index: 1;
  background: white;
  left: 0;
  width: 100%;
}

.header{
  height: 60px;
  padding-top: 50px;
  padding-bottom: 30px;
  box-sizing: content-box !important;
}

.header .row{
  align-items: center;
}

.header__left, .header__right, .header__middle{
  height: 100%;
}

.headernav{
  height: 100%;
  margin-left: 5em;
  height: 60px;
}

.header__btn:hover .headernav__sublist{
  display: block;
}

.headernav__sublist{
  position: absolute;
  top: 60px;
  display: none;
  background-color: white;
  border: 1px solid #f0f0f0;
}

.headernav__subitem > a{
  display: inline-block;
  padding: 0.5em 3em 0.5em 1em;
  width: 200px;
}

.headernav__subitem:hover{
  background-color: #4a4949;
  color: #ccc;
}

.header__right{
  height: 100%;
  text-align: right;
  padding-right: 2em;
}

.header__right .header__btn{
  padding-left: 2em;
}

.header__btn, .header__label{
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 0.5em;
  position: relative;
}

.header__btn{
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .header{
    padding-top: 0;
  }
  .header__left{
    text-align: center;
  }
  .header__middle{
    position: fixed;
    height: auto;
    bottom: 0;
    color: black;
    z-index: 1;
    right: 0;
    left: 0;
    width: 100vw;
    background-color: #4a4949;
  }
  .header__middle .headernav{
    margin: 0;
    height: 50px;
    text-align: center;
  }
  .header__middle .headernav .headernav__sublist{
    display: none;
  }
  .header__middle a.resetlink,
  .header__middle .header__btn{
    color: white !important;
  }
  .headernav .header__btn{
    margin: 0 !important;
    position: relative;
    padding: 0 2em;
  }
  .headernav .header__btn:not(:last-child):after{
    content: " ";
    background-color: #888;
    height: 30px;
    width: 1px;
    top: 1em;
    position: absolute;
    right: 0;
  }
  .headernav .chevron__down{
    display: none !important;
  }
  .header__right{
    text-align: center;
    font-size: 18px;
    padding: 0;
    background-color: #4a4949;
    color: white;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }
  .header__right a{
    padding-right: 2.5em !important;
    padding-left: 2.5em !important;
  }
  .header__right .header__btn:not(:last-child):after{
    content: " ";
    background-color: #888;
    height: 30px;
    width: 1px;
    top: -0.2em;
    position: absolute;
    right: -0em;
  }
}
