.loginfull{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
}

.loginfull .valex-form-control{
  text-align: left;
}


.loginfull .valex-form-control input{
  width: 100%;
}

.loginfull__smiley{
  font-size: 72px;
}

.login-form-wrapper label{
  display: block;
  text-align: left;
}

.login-form-wrapper input{
  width: 400px;
  font-size: 17px;
  font-family: 'aktiv-grotesk-thin', sans-serif;
  padding: 0.6em 0.75em;
  border: none;
  background: #f2f2f2;
}

.login-form-wrapper button{
  height: 42px;
  border-radius: 0;
  background: #4a4949;
  color: #ccc;
}

@media only screen and (max-width: 768px) {
  .loginfull__inner{
    width: 100%;
  }
  .login-form-wrapper{
    text-align: center;
  }
  .login-form-wrapper .form-group{
    width: 340px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .login-form-wrapper input{
    width: 100%;
  }
}
