.alphabetpaginator__alphabet{
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 0.4em;
  margin-left: 8em;
}

.alphabetpaginator__char:not(:last-child){
  cursor: pointer;
  border-right: 1px solid #ccc;
}

.alphabetpaginator__prev{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.alphabetpaginator__next{
  position: absolute;
  right: 2em;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}