.paginator{

}

.paginator__nav{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.paginator__navitem{
  display: inline-block;
  width: 25px;
  border-left: 1px solid #4a4949;
  border-top: 1px solid #4a4949;
  border-bottom: 1px solid #4a4949;
  cursor: pointer;
}

.paginator__navitem:first-of-type{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.paginator__navitem:last-of-type{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #4a4949;
}

.paginator__navitem.active{
  background-color: #4a4949;
  color: #e9dde7;
}
