
.meaningvalencedetail{
  min-height: 100%;
}

.meaningvalencedetail hr{
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.meaningvalencedetail__inner{
  position: relative;
  padding: 0 4em;
}

.meaningvalencedetail--loading, .meaningvalencedetail--noexists{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.meaningvalencedetail__edit{
  border: 1px solid #9f9f9f;
  padding: 0.5em 1em;
  font-weight: 300;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}

.meaningvalencedetail__edit:hover{
  background-color: #9f9f9f;
  color: #ccc;
}

@media only screen and (max-width: 1024px) {
  .meaningvalencedetail__inner{
    padding: 0 2em;
  }
}